html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  font-size: 10px;
  margin: 5rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 50vw;
  margin: 0 auto;
}

.App {
  display: flex;
  justify-content: center;
}