.button {
  --button-bg: #777;
  --button-color: #eee;
  --button-shadow: 0.3rem 0.3rem 0.2rem #333;
  --button-clicked-shadow: 0.1rem 0.1rem 0.2rem #333;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-bg);
  border: none;
  border-radius: 2rem;
  box-shadow: var(--button-shadow);
  color: var(--button-color);
  font-size: 3rem;
  transition: 0.015s all ease;
}

.button:hover {
  cursor: pointer;
}

.button__clicked {
  box-shadow: var(--button-clicked-shadow);
}

.red {
  background: #B22222;
}

.black {
  background: #555;
}