.button {
  --button-bg: #777;
  --button-color: #eee;
  --button-shadow: 0.3rem 0.3rem 0.2rem #333;
  --button-pressed-shadow: 0.1rem 0.1rem 0.2rem #333;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-bg);
  border: none;
  border-radius: 2rem;
  box-shadow: var(--button-shadow);
  color: var(--button-color);
  font-size: 3rem;
}

.button:hover {
  box-shadow: var(--button-pressed-shadow);
  cursor: pointer;
}

.red {
  background: #B22222;
}