.calculator {
  display: grid;
  grid-template-areas: 
    "display  display"
    "numbers  functions"
    "info     info";
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 10rem auto 2.5rem;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  justify-content: center;
  padding: 4rem 4rem 0 4rem;
  background: #ddd;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.8rem #222;
}

.calculator__Display {
  grid-area: display;
}

.calculator__NumberButtons {
  grid-area: numbers;
}

.calculator__FunctionButtons {
  grid-area: functions;
}
