.calculator {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 3rem;
  justify-content: center;
}

.NumberButtons {
  justify-self: end;
}