.clear-button {
  --button-bg: #B22222;
  --button-color: #eee;
  --button-shadow: 0.2rem 0.2rem 0.3rem #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-color);
  background: var(--button-bg);
  font-size: 3rem;
  border-radius: 2rem;
  box-shadow: var(--button-shadow);
}