.function-buttons {
  display: grid;
  grid-template-columns: repeat(2, 7rem);
  grid-template-rows: repeat(4, 4rem);
  grid-gap: 1rem;
  grid-template-areas: 
    "multiply   divide"
    "minus      sqrt"
    "plus       plus-minus"
    "plus       clear";
}

.multiply {
  grid-area: multiply;
}

.divide {
  grid-area: divide;
}

.minus {
  grid-area: minus;
}

.sqrt {
  grid-area: sqrt;
}

.plus {
  grid-area: plus;
  display: grid;
}


.plus-minus {
  grid-area: plus-minus;
}

.clear {
  grid-area: clear;
  display: grid;
}


@media (max-width: 450px) {
  .function-buttons {
    grid-template-columns: repeat(2, 5rem);
  }
}

@media (max-width: 350px) {
  .function-buttons {
    grid-template-columns: repeat(2, 4rem);
  }
}
