
.shortcuts {
  display: grid;
  grid-template-columns: repeat(2, 12rem);
  grid-auto-rows: auto;
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
  justify-content: center;
  background: beige;
  color: #555;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.4rem #777;
  position: absolute;
  margin-top: -3rem;
  margin-left: 5rem;
  transition: 0.25s ease-in-out;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}

.shortcuts__close {
  position: absolute;
  margin-left: 29.5rem;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.shortcuts__close:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.shortcuts__title {
  grid-column: span 2;
  grid-row: 1 / 2;
  font-size: 1.8rem;
  justify-self: center;
  border-bottom: 1px solid green;
  padding: 0 1.5rem 0.5rem 1.5rem;
}

.shortcuts__left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 1.6rem;
  justify-self: end;
}

.shortcuts__right {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 1.6rem;
  justify-self: start;
}

.shortcuts__left > p,
.shortcuts__right > p {
  margin-bottom: 0.7rem
}

.shortcuts__left span,
.shortcuts__right span {
  color: #555;
  border: 1px solid #aaa;
  padding: 0 0.3rem;
  border-radius: 0.2rem;
}

span.arrow {
  border: none;
  color: #ccc;
}

@media (max-width: 450px) {
  .shortcuts {
    grid-template-columns: repeat(2, 9rem);
  }

  .shortcuts__title {
    font-size: 1.6rem;
  }
  
  .shortcuts__left,
  .shortcuts__right {
    font-size: 1.3rem;
  }
  
  .shortcuts__close {
    position: absolute;
    margin-left: 24rem;
    margin-top: 0.5rem;
    font-size: 2rem;
  }  

}

@media (max-width: 350px) {
  .shortcuts {
    grid-template-columns: repeat(2, 8rem);
  }

  .shortcuts__title {
    font-size: 1.5rem;
  }
  
  .shortcuts__left,
  .shortcuts__right {
    font-size: 1rem;
  }
  
  .shortcuts__close {
    position: absolute;
    margin-left: 22rem;
    margin-top: 0.5rem;
    font-size: 2rem;
  }  
}